body{
    font-family: 'Poppins',
    sans-serif;
    font-family: 'Ubuntu',
    sans-serif;
    margin: 0;
    padding: 0;

}

.header {
    height: 1050px;
    background-image: url("images/header-bg.png");
    

}
.half-width {
    float: left ;
    width: 40%;
    margin-top: 30px;
    
}

.name-text {
    margin-top: 18%;
    margin-left: 18%;
}
.name-text h1 {
    font-size: 40px;
}
.name-text p {
    padding-bottom: 20px;
}
.name-text h2 {
    font-size: 35px;
    color:orangered;
    
}

.link-button {
    text-decoration: none;
    background-color: orangered;
    margin-top: 20px;
    padding: 10px 15px;
    color:white;
    font-size: smaller;
    border-radius: 7%;
}

.Biography
{
    height: 800px;
    background-image: url("images/biography-bg.png");
}

.latest-work-section {
    height: 600px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    background-image: url("images/latest-work-bg.png");
    background-position: right;
}

.latest-work-section h3 {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}
.one-third {
    margin-top: 3%;
    width: 29.9%;
    float: left;
}
.one-third img {
    width:90%;

}
.showoff-area {
    text-align: center;
}
.showoff-area h4 {
    font-size: 40px;
}
.showoff-area h5 {
    font-size: 20px;
}

.showoff-area h6 {
    font-size: 15px;
    margin-top: -10px;
}
.showoff-area p {
    color:black;
    font-weight: bolder;
}
.one-half {
    margin-top: 5%;
    margin-left: 22%;
    width: 55%;
    background-color: #ff0000;
    padding: 10px 15px;
    
    

}
.one-half p {
    color: white;
}
.one-half .first-line {
    font-size: 12px;
}
.one-half .second-line {
    font-size: 25px;
}
footer  {
    margin-top: 4%;
    text-align: center;
    color:slategrey;
    font-size: 20px;
}

